<p>
  {{localize "SWFFG.Crew.Role.UpdateFor" name=actor.name}}<br>
  <multi-select name="select-many-things">
    <optgroup label="{{localize 'SWFFG.Crew.Role.BuiltIn'}}">
      <option value="Pilot" {{#iff rolesInUse 'contains' 'Pilot' }} selected{{/iff}}>{{localize "SWFFG.Crew.Roles.Pilot"}}</option>
      <option value="Co-Pilot" {{#iff rolesInUse 'contains' 'Co-Pilot' }} selected{{/iff}}>{{localize "SWFFG.WeaponCrew.copilot"}}</option>
    </optgroup>
    <optgroup label="{{localize 'SWFFG.Crew.Role.Custom'}}">
      {{# each roles as |role| }}
        <option value="{{ role.role_name }}"{{#iff ../rolesInUse 'contains' role.role_name }} selected{{/iff}}>{{ role.role_name }}</option>
      {{/each }}
    </optgroup>
  </multi-select>
</p>
